@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(9% 0.024 285.8);

  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(9% 0.024 285.8);

  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(9% 0.024 285.8);

  --color-primary: oklch(69% 0.3 252);
  --color-primary-foreground: oklch(100% 0 0);

  --color-secondary: oklch(96% 0.016 210);
  --color-secondary-foreground: oklch(9% 0.024 285.8);

  --color-muted: oklch(96% 0.016 210);
  --color-muted-foreground: oklch(47% 0.03 214);

  --color-accent: oklch(96% 0.016 210);
  --color-accent-foreground: oklch(9% 0.024 285.8);

  --color-destructive: oklch(60% 0.24 0);
  --color-destructive-foreground: oklch(98% 0.016 210);

  --color-border: oklch(91% 0.065 214);
  --color-input: oklch(91% 0.065 214);
  --color-ring: oklch(84% 0.054 213);

  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: oklch(9% 0.01 225);
    --color-foreground: oklch(98% 0.016 210);

    --color-card: oklch(11% 0.01 228);
    --color-card-foreground: oklch(98% 0.016 210);

    --color-popover: oklch(11% 0.01 228);
    --color-popover-foreground: oklch(98% 0.016 210);

    --color-primary: oklch(69% 0.3 252);
    --color-primary-foreground: oklch(100% 0 0);

    --color-secondary: oklch(16% 0.006 228);
    --color-secondary-foreground: oklch(98% 0.016 210);

    --color-muted: oklch(16% 0.006 228);
    --color-muted-foreground: oklch(65% 0.04 215);

    --color-accent: oklch(16% 0.006 228);
    --color-accent-foreground: oklch(98% 0.016 210);

    --color-destructive: oklch(60% 0.24 0);
    --color-destructive-foreground: oklch(98% 0.016 210);

    --color-border: oklch(16% 0.006 228);
    --color-input: oklch(16% 0.006 228);
    --color-ring: oklch(84% 0.054 213);
  }
}

* {
  border-color: var(--color-border);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  height: 100%;
}
